body {
  margin: 0;
  background-color: #121212;
  font-family: 'Arial', sans-serif;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.logo {
  font-size: 48px;
  margin-bottom: 30px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}
